<!DOCTYPE html>
<html>
<head>
	<title>World Wise Schools by Peace Corps</title>
	<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
	<link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />
	<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="static/chosen/chosen-style.css" rel="stylesheet">
	<link href="static/styles/styles.css" rel="stylesheet">
	<!--<link href="styles/refined.css" rel="stylesheet">-->
  
</head>
<body>

        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="brand">World Wise Schools</div>
            <!-- Place all navbar contents you want collapsed within .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
				<li class="search-1">	
					<form class="navbar-search">
						<input type="text" class="search-query span3" value="African Dance" placeholder="Search">
					</form>
				</li>
				<li>
					<div class="dropdown-select">
						<select data-placeholder="Sector" class="chzn-select" tabindex="2">
							<option value="" selected="selected">---------</option>
							<option value="edu">Education</option>
							<option value="health">Health</option>
							<option value="ced">Community Economic Development</option>
							<option value="env">Environment</option>
							<option value="yid">Youth in Development</option>
							<option value="agr">Agriculture</option>
							<option value="others">Others</option>
						</select>
					</div>
				</li>	
				<li>
					<div class="dropdown-select">
						<select data-placeholder="Country" class="chzn-select" tabindex="2">
							<option value="" selected="selected">---------</option>
							<option value="AL">Albania</option>
							<option value="AM">Armenia</option>
							<option value="AZ">Azerbaijan</option>
							<option value="BZ">Belize</option>
							<option value="BJ">Benin</option>
							<option value="BW">Botswana</option>
							<option value="BG">Bulgaria</option>
							<option value="BF">Burkina Faso</option>
							<option value="KH">Cambodia</option>
							<option value="CM">Cameroon</option>
							<option value="CV">Cape Verde</option>
							<option value="CN">China</option>
							<option value="CO">Colombia</option>
							<option value="CR">Costa Rica</option>
							<option value="DO">Dominican Republic</option>
							<option value="LC">Eastern Caribbean</option>
							<option value="SV">El Salvador</option>
							<option value="EC">Ecuador</option>
							<option value="ET">Ethopia</option>
							<option value="FJ">Fiji</option>
							<option value="GE">Georgia</option>
							<option value="GH">Ghana</option>
							<option value="GT">Guatemala</option>
							<option value="GN">Guinea</option>
							<option value="GY">Guyana</option>
							<option value="HN">Honduras</option>
							<option value="ID">Indonesia</option>
							<option value="JM">Jamaica</option>
							<option value="JO">Jordan</option>
							<option value="KZ">Kazakhstan</option>
							<option value="KE">Kenya</option>
							<option value="KG">Kyrgyz Republic</option>
							<option value="LS">Lesoto</option>
							<option value="LR">Liberia</option>
							<option value="MK">Macedonia</option>
							<option value="MG">Madagascar</option>
							<option value="MW">Malawi</option>
							<option value="ML">Mali</option>
							<option value="MX">Mexico</option>
							<option value="FM">Micronesia and Polynesia</option>
							<option value="MD">Moldova</option>
							<option value="MN">Mongolia</option>
							<option value="MA">Morocco</option>
							<option value="MZ">Mozambique</option>
							<option value="NA">Namibia</option>
							<option value="NP">Nepal</option>
							<option value="NI">Nicaragua</option>
							<option value="NE">Niger</option>
							<option value="PA">Panama</option>
							<option value="PY">Paraguay</option>
							<option value="PE">Peru</option>
							<option value="PH">Philipines</option>
							<option value="RO">Romania</option>
							<option value="RW">Rwanda</option>
							<option value="WS">Samoa</option>
							<option value="SN">Senegal</option>
							<option value="SL">Sierra Leone</option>
							<option value="ZA">South Africa</option>
							<option value="SR">Suriname</option>
							<option value="SZ">Swaziland</option>
							<option value="TZ">Tanzania</option>
							<option value="GM">The Gambia</option>
							<option value="TH">Thailand</option>
							<option value="TG">Togo</option>
							<option value="TO">Tnoga</option>
							<option value="UG">Uganda</option>
							<option value="UA">Ukraine</option>
							<option value="VU">Vanatu</option>
							<option value="ZM">Zambia</option>
						</select>
					</div>
				</li>	
				<li>
					<div class="dropdown-select">
						<select data-placeholder="Home State" class="chzn-select" tabindex="2">
							<option value="" selected="selected">---------</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
							<option value="AS">American Samoa</option>
							<option value="DC">District of Columbia</option>
							<option value="FM">Federated States of Micronesia</option>
							<option value="GU">Guam</option>
							<option value="MH">Marshall Islands</option>
							<option value="MP">Northern Mariana Islands</option>
							<option value="PW">Palau</option>
							<option value="PR">Puerto Rico</option>
							<option value="VI">Virgin Islands</option>
						</select>
					</div>
				</li>	
				</ul>
				<div class="rightmost">
					<div class="btn-group">
						<button class="btn">SMS</button>
						<button class="btn">Blog</button>
					</div>
				</div>
			
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

	<div class="sidebar">
	<div class="sidebar-inner">
	<ul class="nav nav-list">
<div class="overview clearfix"> 
  		<h2 class="title">African Dance</h2> 
  		<!--ul class="clearfix"><li>Population</li> 
  		<li><span class="overview-label">People</span> <span class="overview-value">94,852,030</span></li> 
  		<li><span class="overview-label">Households</span> <span class="overview-value">19,413,575</span></li> 
  		</ul--> 
  	</div> 
 
    
    <div class="section clearfix maybeactive"> 
      <h3 class="media"><a href="http://peaceschool.herokuapp.com/post/2013/02/23/fire-mountain/">Fire on the Mountain</a></h3> 
 
      <div class="group first"> 
      </div>
 
      <div class="group last"><h4 style="padding-top: 5px; padding-bottom: 5px;">This is a little blurb about this
article.  The contents of whi ... </h4></div> 
    </div>
 
    <div class="section clearfix maybeactive"> 
      <h3 class="media"><a href="http://peaceschool.herokuapp.com/post/2013/02/23/good-leaves/">The Good Leaves</a></h3> 
 
      <div class="group first"></div> 
 
      <div class="group last"><h4 style="padding-top: 5px; padding-bottom: 5px;">This is a little blurb about this
article.  The contents of whi ... </h4></div> 
	</div>
 
    <div class="section clearfix maybeactive"> 
      <h3 class="media"><a href="http://peaceschool.herokuapp.com/post/2013/02/23/back-action/">Back in Action</a></h3> 
 
      <div class="group first"></div> 
 
      <div class="group last"><h4 style="padding-top: 5px; padding-bottom: 5px;">This is a little blurb about this
article.  The contents of whi ...  </h4></div> 
	</div> 
 
    <div class="section clearfix maybeactive"> 

      <h3 class="media"><a href="http://peaceschool.herokuapp.com/post/2013/02/23/year-island-life/">A Year of Island Life</a></h3> 
 
      <div class="group last"><h4 style="padding-top: 5px; padding-bottom: 5px;">This is a little blurb about this
article.  The contents of whi ... </h4></div> 
    </div> 
        <div class="section clearfix maybeactive"> 

      <h3 class="media"><a href="http://peaceschool.herokuapp.com/post/2013/02/23/its-been-awhile/">It's been awhile!</a></h3> 
 
      <div class="group last"><h4 style="padding-top: 5px; padding-bottom: 5px;">This is a little blurb about this
article.  The contents of whi ... </h4></div> 
    </div> 
	</ul>
	<div id="sidebarfooter"><strong>26 entries</strong> across <strong>13 volunteers</strong> in <strong>1 country</strong> <a href="http://peaceschool.herokuapp.com/admin">[admin]</a> <a href="/register">(applicant)</a></div>
	</div>
	</div>
	
	
<div id='map'></div>



<script>
  mapbox.auto('map', 'ethanmax.map-drf7bifz');
</script>

	<script src="/static/tooltip.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/holder/holder.js"></script>
	<script src="/static/chosen/chosen.js" type="text/javascript"></script>
	<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
	<script>
	$(".chzn-drop").css('top', '50px');
	</script>
    

</body>
</html>
